<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center mb-4">
                    <div>
                        <h6 class="card-title text-uppercase font-16" style="color: blueviolet;">Product Yearly Sales</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div style="display: block;">
                        <canvas baseChart height="130"
                          [datasets]="barChartData1"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                 
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend"
                          [chartType]="barChartType">
                        </canvas>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>